<!-- MENU START -->

<nav id="mySidebar" class="sidebar">
  <div class="row" style="margin-top:-40px">
    <div class="col-6"><a><img src="./assets/image/echollogo.png" height="60px" /></a></div>
    <div class="col-6"><a href="javascript:void(0)" class="closebtn col-6" onclick="closeNav()" style="color:white;margin-top:20px">×</a> </div>
  </div>
  <hr>
  <ul>

  <br><li ><a id="cursor" class="fa fa-dashboard" (click)="dashboard()" style="font-size: large;"> &nbsp;Dashboard</a></li>

  <br><li ><a id="cursor" class="feat-btn fa fa-wifi" (click)="lidarAnalytics()" style="font-size: large;"> &nbsp;Lidar Analytics</a></li>

  <br><li ><a id="cursor" class="feat-btn fa fa-video-camera" (click)="videoAnalytics()" style="font-size: large;"> &nbsp;Video Analytics</a></li>
  
  

  <br><li ><a id="cursor" class="fa fa-fire" style="font-size: large;"> &nbsp;Thermal Detection</a></li>

  <br><li><a class="fa fa-file-pdf-o" id="cursor" style="font-size: large;" >&nbsp; Report</a></li>

  <br><li><a class="fa fa-sign-out" id="cursor" style="font-size: large;"  (click)="logout()">&nbsp; Logout</a></li>
  </ul>
  <p class="copyrightTxt">eSentinel. Copyright 2023 Echol Tech Pte Ltd. All Rights Reserved.
  </p>
</nav>

<!-- MENU END     -->
  
