<!-- MENU START -->

<nav id="mySidebar" class="sidebar">
  <div class="row" style="margin-top:-40px">
    <div class="col-6"><a><img src="./assets/image/echollogo.png" height="60px" /></a></div>
    <div class="col-6"><a href="javascript:void(0)" class="closebtn col-6" onclick="closeNav()" style="color:white;margin-top:20px">×</a> </div>
  </div>
  <hr>
  <ul>

  <br><li ><a id="cursor" class="fa fa-dashboard" (click)="dashboard()" style="font-size: large;"> &nbsp;Dashboard</a></li>
  
  <br><li>
    <a class="feat-btn fa fa-wifi" id="cursor" style="font-size: large;">&nbsp;Lidar Analytics
      <span class="fa fa-caret-down"></span>
    </a>
    <ul class="feat-show">
      <li><a id="cursor" >Intrusion Detection</a></li>
      <li><a id="cursor">People Count</a></li>
      <li><a id="cursor">Motion/Motionless Detection</a></li>
    </ul>
  </li>

  <br><li>
    <a class="feat-btn fa fa-video-camera" id="cursor" style="font-size: large;">&nbsp;Video Analytics
      <span class="fa fa-caret-down"></span>
    </a>
    <ul class="feat-show">
      <li><a id="cursor" >PPE Detection</a></li>
      <li><a id="cursor">Motionless Body</a></li>
      <li><a id="cursor">Fire Detection</a></li>
    </ul>
  </li>

  <br><li ><a id="cursor" class="fa fa-fire" style="font-size: large;"> &nbsp;Thermal</a></li>

  <br><li><a class="fa fa-sign-out" id="cursor" style="font-size: large;"  (click)="logout()">&nbsp; Logout</a></li>
  </ul>
  <!-- <p class="copyrightTxt">eSentinel V 1.1.0 Build 20201201. Copyright 2021 Echol Tech Pte Ltd. All Rights Reserved. -->
  <!-- </p> -->
</nav>
<!-- MENU END     -->
  
