<app-navsidemenu></app-navsidemenu>
<div id="main">
    <div class="row">
        <div class="col-md-1">
            <div><button class="openbtn" onclick="openNav()">☰</button></div>
        </div>
        <div class="col-md-11">
            <br>
           <h3><span class="case_manager" style="color: #811a1b;">  <b style="font-size: large;"><img src="./assets/image/sp_logo.png" height="60px" /></b></span></h3> 
        </div>
    </div>

 <br>
    <div class="col-md-12">
        <div class="v1_13 col-md-12" style="text-align: center;" ><h1><p style="margin-top: -6px;">INTRUSION DETECTION</p></h1></div>
    </div>

    <menu style="width: 100%;height: 1px;">
    </menu>
&nbsp;
</div>